h1 Create a new user

form action="/users" method="post"
	input type="text" name="username" placeholder="Username" required="required"
    br
	input type="password" id="password" name="password" placeholder="Password" required="required"
    br
	input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required="required"
    br
	button type="submit" id="button" Register

javascript:
    var password = document.getElementById("password");
    var confirm_password = document.getElementById("confirm_password");
    var button = document.getElementById("button");

    function onsubmit(form)
    {
        if(password.value != confirm_password.value)
        {
            confirm_password.setCustomValidity("Passwords do not match");
        }
        else
        {
            confirm_password.setCustomValidity("");
        }
    }

    button.onclick = onsubmit;
