link href="main.css" rel="stylesheet" type="text/css"

h2 ##{@edit.id} #{@postmanager.get_with(id: @edit.post).title} 

h6 Edited: #{@edit.date}
h6 Editor: #{@usermanager.get_with(id: @edit.user).name} 

h6 New text: 
p #{@edit.new_text}

h6 Old text: 
p #{@edit.old_text}

form action="/edits" method="get"
	button type="submit" Go back
